@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0
}

.content {
	box-sizing: border-box;
	padding: 10px;
}

.content-width {
	width: 980px;
	margin: 0 auto;
}

.bar-heading {
	background-color: #fff;
	box-shadow: -9pt 0 18px 0 rgba(50, 50, 50, 0.3);
	transition-delay: 0s;
	transition-duration: 0.3s;
	transition-property: top;
	transition-timing-function: cubic-bezier(0.16, 0.22);
	position: fixed;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid black;
	padding: 10px;
	top:-100px;
}

.regular-heading {
	transition-delay: 0s;
	transition-duration: 0.3s;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.16, 0.22);
	width: 100%;
	height: 150px;
	border-bottom: 1px solid black;
	padding: 10px;
	opacity: 1.0
}

.bar-heading.appear {
	top: 0px;
}

.regular-heading.hide {
	opacity: 0.0;
}

#logo-regular {
	background-image: url('../images/logo-150.png');
	display: inline-block;
	width: 155px;
	height: 150px;
}

#logo-bar {
	background-image: url('../images/logo-40.png');
	background-size: contain;
	display: inline-block;
	width: 40px;
	height: 40px;
}

#bar-tagline {
	display: inline-block;
	margin-top: 14px;
  vertical-align: top;
}

.menus {
	width: 550px;
  margin-left: 102px;
	height: 150px;
	vertical-align: top;
	display: inline-block;
}

.box-container {
	width: 700px;
	height: 1200px;
}

.littlebox {
	width: 150px;
	height: 100px;
	border: 1px solid grey;
	margin: 10px;
	display: inline-block;
}

.player {
	background-color: #DDDDDD;
	border: 1px solid grey;
	position: absolute;
}

.regular-heading .menus {
	margin-left: 216px;
}

.regular-heading .menus li {
	display: inline-block;
	margin-top: 43px;
	font-family: open_sanslight, sans-serif;
	font-size: 17px;
	margin-bottom: 0;
	margin-left: 70px;
}

.bar-heading .menus {
	height: 50px;
}

.bar-heading .menus li {
	display: inline-block;
  font-family: open_sanslight, sans-serif;
  font-size: 17px;
  margin-bottom: 0;
  margin-left: 70px;
  margin-top: 0;
}

.menus li > a {
  text-decoration: none;
}

h1, h2 {
    color: #007700;
    font-family: open_sansregular, sans-serif;
    font-variant: all-small-caps;
}

h1 {
  font-size: 30px;
}

h2 {
  color: #009900;
    font-size: 23px;
}

p {
    font-family: open_sanslight, sans-serif;
    font-size: 18px;
}


a {
    color: #007700;
}

.project {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
	padding: 20px;
}

.project-summary {
	color: #666666;
	font-size: 14px;
}

.project-image.landscape {
	width: 470px;
	height: 250px
}

.project-image.square {
	width: 250px;
	height: 250px
}

.project-image.square > img {
    width: 100%;
}

.project-image.landscape > img {
	height: 100%;
}

.project-image.portrait {
	width: 250px;
	height: 470px;
}

.project-image.portrait > img {
    width: 100%;
}

.project-image {
	border: 1px solid black;
	padding: 13px;
	box-shadow: 4px 4px 12px -2px black;
	float: left;
	margin-right: 20px;
  margin-top: 10px;
  transform: rotateZ(-1deg);
  z-index: -1
}


.orx {
    background-color: #eeffee;
    border: 1px solid #666666;
    border-radius: 5px;
    bottom: 0;
    padding: 15px;
    position: absolute;
    width: 980px;
}

.orx > img {
    vertical-align: middle;
    padding-right: 13px;
}

.clear {
	clear: both;
}
